# MD outputs
outputs/
*.xtc
*.trr
*.tpr
*.edr
*.log
*.cpt
*.pdb
*.gro

# backups
#*
*~

# python
__pycache__/
*.pyc

# ACPYPE
*.acpype/


# Ignore runtime inputs
inputs/*
!inputs/.gitkeep

# Ignore outputs
outputs/

# Ignore heavy MD files
*.xtc
*.trr
*.edr
step*.pdb
