# Runtime outputs
outputs/

# Allow example outputs
!example_run/outputs/
!example_run/outputs/**

# Heavy MD files
*.xtc
*.trr
*.edr
*.tpr
*.cpt
*.log

# Temporary structures
step*.pdb

# Python
__pycache__/
*.pyc

# ACPYPE
*.acpype/

# Inputs runtime
inputs/*
!inputs/.gitkeep

